<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detailscart</title>
</head>
<body>
    <h1>Carrito de compra</h1>

    <div>
        {{#if cart.products.length}}
            {{#each cart.products}}
                <div>
                    <img src="{{this.product.thumbnail}}" alt="Imagen del Producto" style="width: 10%;">
                    <label>Nombre: {{this.product.title}}</label>
                    <label>Precio: {{this.product.price}}</label>
                    <label>Cantidad: {{this.quantity}}</label>
                    <button class="btn btn-outline-danger" onclick="eliminarProducto('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
                </div>
                <hr>
            {{/each}}
            <div>
                <label><strong>Total de la compra: ${{total}}</strong></label>
            </div>

            <button onclick="location.href='/products'">Seguir comprando</button>
            <button id="terminar-compra" class="btn btn-outline-success" onclick="terminarCompra('{{cart._id}}')">Terminar compra</button>   
        {{else}}
            <center>
                <p>No hay productos en el carrito <a href="/products">Seguir comprando</a></p>
            </center>
        {{/if}}
    </div>


<script>
    async function eliminarProducto(cartId, productId) {
        try {
            const response = await fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const result = await response.json();

            if (result.status === 'success') {
                // Recargar la página o actualizar la vista del carrito
                location.reload();
            } else {
                alert(result.message);
            }
        } catch (error) {
            console.error('Error al eliminar el producto:', error);
            alert('Hubo un problema al intentar eliminar el producto.');
        }
    }

    async function terminarCompra(cartId) {
        try {
            const response = await fetch(`/api/carts/${cartId}/purchase`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const result = await response.json();

            if (result.status === 'success') {
                // Redirigir a la vista del ticket usando la ID del ticket
                window.location.href = `/tickets/${result.ticketId}`;
            } else {
                alert(result.message);
            }
        } catch (error) {
            console.error('Error al terminar la compra:', error);
            alert('Hubo un problema al intentar finalizar la compra.');
        }
    }
</script>

</body>
</html>


