<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
</head>

<body>
    <h1>| Detalle del Producto |</h1>
    
    <div>
        <img src="{{product.thumbnail}}" alt="Imagen del Producto" style="width: 50%;"><br>
        Nombre: {{product.title}} <br>
        Descripción: {{product.description}}<br>
        Precio: {{product.price}}<br>
        Código: {{product.code}}<br>
        Stock: {{product.stock}}<br>
        Categoría: {{product.category}}<br>

        <button onclick="addToCart('{{product._id}}', '{{product.title}}', {{product.price}})">Añadir al carrito</button>
        <button onclick="location.href='/products'">Seguir comprando</button>
    </div>

    <script>
        //let currentCart;
        let currentCart = JSON.parse(localStorage.getItem('currentCart'))

        function addToCart(productId, productName, productPrice) {            
            if (!currentCart) {                
                fetch('/api/carts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {                    
                    currentCart = data.payload
                    localStorage.setItem('currentCart', JSON.stringify(currentCart))                    
                    addProductToCart(currentCart._id, productId, productName, productPrice)
                })
                .catch(function(error) {
                    console.error('Error al obtener o crear el carrito:', error);
                })
            } else {                
                addProductToCart(currentCart._id, productId, productName, productPrice);
            }
        }

        function addProductToCart(cartId, productId, productName, productPrice) {            
            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {                
                alert(`Se ha añadido ${productName} a tu carrito`)
            })
            .catch(function(error) {
                console.error('Error al agregar el producto al carrito:', error)
            });
        }
    </script>

</body>
</html>
