<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>| Wemí cueros | </h1>
    <h2>Lista de Productos</h2>
        <ul id="productList">
        {{#each products}}
            <li>
                <img src="{{this.thumbnail}}" alt="Imagen del Producto"><br>
                Nombre: {{this.title}} <br>
                Descripción: {{this.description}}<br>
                Precio: {{this.price}}<br>                
                Código: {{this.code}}<br>
                Stock: {{this.stock}}<br>
                Categoría: {{this.category}}
            </li>
        {{/each}}
        </ul>
</body>
</html>



