<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Compra</title>
</head>
<body>
    <div>
        <h2>Ticket de Compra</h2>
        <p><strong>Código:</strong> {{ticket.code}}</p>
        <p><strong>Fecha y Hora:</strong> {{ticket.purchase_datetime}}</p>
        <p><strong>Monto Total:</strong> ${{ticket.amount}}</p>
        <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
        <h3>Productos Comprados</h3>
        <ul>
            {{#each ticket.purchasedProducts}}
                <li>{{this.title}} - ${{this.price}}</li>
            {{/each}}
        </ul>
        <button onclick="location.href='/products'">Seguir comprando</button>
        <button id="pagarBtn">Pagar con Stripe</button>
    </div>

    <script>
        document.getElementById('pagarBtn').addEventListener('click', function() {
            const cartId = localStorage.getItem('cid');
            console.log('Sending cartId:', cartId); 

            fetch('/api/payments/payment-intents', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cartId })
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(data) {
                if (data.status === 'success') {
                    const stripe = Stripe('pk_test_51PLTdRP2LrfUAZJs9BEktxs3Y4tyZHmTO1yJhqEUMpD72CzPqTITspoCPuTskP3uAJlXzd8oaa8BtOsLsMdVRBu900E34mQ7XI')
                    stripe.redirectToCheckout({
                        sessionId: data.payload.id
                    }).then(function(result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    });
                } else {
                    alert('Error al crear el PaymentIntent');
                }
            })
            .catch(function(error) {
                console.error('Error al crear el PaymentIntent:', error)
            })
        })
    </script>
</body>
</html>

