<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Compra</title>
</head>
<body>
    <div>
        <h2>Ticket de Compra</h2>
        <p><strong>Código:</strong> {{ticket.code}}</p>
        <p><strong>Fecha y Hora:</strong> {{ticket.purchase_datetime}}</p>        
        <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
        <p><strong>Productos Comprados:</strong>
        <ul>
            {{#each ticket.purchasedProducts}}
                <li>{{this.title}} - ${{this.price}}</li>
            {{/each}}
        </ul>
        <p><strong>Monto Total:</strong> ${{ticket.amount}}</p>
        
        <button onclick="location.href='/products'">Volver al inicio</button>
    </div>
</body>
</html>

